<%= simple_form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container align-center">
    <div class="row">
      <div class="field col-xs-12 col-md-4">
        <%= f.input :name, placeholder: "Chez Georgette" %>
        <%= f.input :address, placeholder: "13, rue de Paris 75009 Paris" %>
        <%= f.input :phone_number, placeholder: "01 42 65 04 35" %>
        <%= f.input :category, collection: Restaurant::CATEGORIES, prompt: "Choose one" %>
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
