<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>


<h3>My reviews</h3>
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.content %> - <%= review.rating %></p>
  <% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Add review', new_restaurant_review_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
